p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#030;
	line-height:18px;
	padding:3px;
	text-align:justify;
}

.cursiva{
	font-style:italic;
	margin-left:2px;
	line-height:14px;
	color:#009933;	
}
.negrita {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	color: #033;
}
.TITULO{
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	line-height:18px;
	font-weight:bold;
	color:#600;
	text-align:center;
	}
.navegacion{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#030;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	background-color:#090;
	display:block;
	width:140px;
	padding:8px;
	}

.navegacion:hover{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#030;
	font-style:normal;
	font-weight:bold;
	text-decoration:none;
	background-color:#060;
	display:block;
	width:140px;
	padding:8px;
	}

.centrar{
	width:800px;
	margin:0 auto;
	}